<!DOCTYPE html>
<html>
  <head>
    <title>
     <meta charset="utf-8">
    </title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="text" />
      <button type="submit">Submilt</button>
    </form>
  </body>
</html>